[Unit]
After=network-online.target
Description=GlobalBoost daemon
Documentation=https://github.com/GlobalBoost/GlobalBoost-Y/blob/master/doc/init.md
Wants=network-online.target

[Service]
ConfigurationDirectory=globalboost
ConfigurationDirectoryMode=0710
ExecStart=/usr/local/bin/globalboostd \
  -conf=/etc/globalboost/globalboost.conf \
  -chain=${CHAIN}
ExecStartPre=/bin/chgrp globalboost /etc/globalboost
Group=globalboost
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PermissionsStartOnly=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RuntimeDirectory=globalboostd
RuntimeDirectoryMode=0710
StateDirectory=globalboostd
StateDirectoryMode=0710
TimeoutStartSec=infinity
TimeoutStopSec=600
Type=simple
User=globalboost

[Install]
WantedBy=multi-user.target
